.footer {
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.footer__text {
    margin-top: 90px;
}

@media screen and (max-width: 544px) {
    .footer__text {
        margin-top: 65px;
    }
}