.places {
    display: flex;
    padding-top: 92px;
    justify-content: center;
}

.places__list {
    max-width: 987px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.places__item {
    display: flex;
    gap: 40px;
}

.places__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
}

.places__image {
    max-width: 460px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-top: 48px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__image:hover {
    filter: brightness(50%);
}

.places__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    width: 289px;
    height: 48px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places__button:hover {
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}

.places__artist {
    margin-top: 107px;
    font-size: 18px;
    line-height: 1.2;
}

.places__artist-title {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.12em;
    display: inline-block;
    padding-bottom: 8px;
}

.places__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 48px;
}

.places__paragraph {
    font-size: 18px;
    line-height: 1.6;
}